<nav>
    <h1>A-Panel</h1>
    <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/seller">Seller</a></li>
        <li><a routerLink="/employee">Employee</a></li>
        <li><a routerLink="/product">Product</a></li>
    </ul>
    <div class="buttons">
        <button routerLink="/login">Login</button>
        <button routerLink="/signup">Signup</button>
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon style="margin-top: -4px;">more_vert</mat-icon>
        </button>
    </div>

</nav>