<div class="Signup-container">
    <h2>SignUp</h2>

    <form (ngSubmit)="submitForm()" #loginForm="ngForm">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" [(ngModel)]="username" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required>
        </div>

        <button type="submit" [disabled]="!isValidLogin()">Save</button>
    </form>
</div>